.hero {
  position: relative;
  width: 100%;
  height: 768px;
  background-image: url('/img/Hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heroDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66;
  color: #f7f7f7;
  margin: 0;
  margin-left: 64px;
}
.hero p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #f7f7f7;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 40px;
}
.hero a {
  text-decoration: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background-color: #e44848;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  cursor: pointer;
  margin: 0;
  margin-left: 64px;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
.btn:hover,
.btn:focus {
  transform: translateY(2px);
  background-color: #d84343;
}
